attrs
cachetools
certifi
chardet
Click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-table-experiments
decorator
Flask
Flask-Compress
google-api-python-client
google-auth
google-auth-httplib2
gunicorn
httplib2
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
numpy
pandas
# pkg-resources
plotly
pyasn1
pyasn1-modules
pyrsistent
python-dateutil
pytz
requests
retrying
rsa
six
traitlets
uritemplate
urllib3
Werkzeug
